<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script th:src="@{/webjars/vue/2.4.2/dist/vue.min.js}"></script>
		<script th:src="@{/webjars/axios/0.16.1/dist/axios.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

		<title th:text="#{profile.title}">プロフィール</title>
	</head>
	<body>
		<div th:replace="common/layout::navbar-layout"></div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 th:text="#{profile.title}">プロフィール</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/}">ダッシュボード</a></li>
							<li class="active" th:text="#{profile.title}">プロフィール</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${passwordUpdatedStaff}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{update.msg('パスワード')}">パスワードを更新しました。</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<tbody id="describe">
								<tr>
									<th th:text="#{staff.field.name}">名前</th>
									<td>{{staff.name}}</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.team}">チーム</th>
									<td>{{staff.teamName}}</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.entereddate}">入社日</th>
									<td>2017/04/01</td>
								</tr>
								<!--/*-->
								<tr>
									<th>有給付与日</th>
									<td>2017/10/01</td>
								</tr>
								<tr>
									<th>有給日数</th>
									<td>0日</td>
								</tr>
								<tr>
									<th>2017年有給消滅日数</th>
									<td>2日</td>
								</tr>
								<!--*/-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el: '#describe',
				data: {staff: []},
				methods: {
					getStaff() {
						axios.get('/profile/describe-staff')
							.then(response => {
								this.staff = response.data;
							});
					}
				},
				mounted() {
					this.getStaff();
				}
			});
		</script>
	</body>
</html>
