<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/common/describe-search.js}"></script>
		<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

		<title th:text="#{staff.describe.title}">スタッフ詳細</title>
	</head>

	<body>
		<div th:replace="common/layout::navbar-layout"></div>
		<div class="section"></div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 th:text="${staff.getName()}">テスト太郎</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/}" th:text="#{dashboard.title}">ダッシュボード</a></li>
							<li><a th:href="@{/admin/staffs}" th:text="#{staff.list.title}">スタッフ一覧</a></li>
							<li class="active" th:text="#{staff.describe.title}">スタッフ詳細</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${savedStaff}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{registration.msg(${savedStaff.name})}">TESTを登録しました。</span>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${wrongDelete}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert">
						<span th:text="#{error.cannnotdelete(${wrongDelete})}">関連データが存在するため削除できません。</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-right">
						<div class="btn-group">
							<a class="btn btn-default" th:href="@{/admin/staffs/edit-history/{id}(id=${staff.id})}">変更履歴</a>
						</div>
						<div class="btn-group">
							<form method="post" th:action="@{/admin/staffs/delete/{id}(id=${staff.id})}">
								<input type="hidden" name="_method" value="delete"/>
								<button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> 削除</button>
							</form>
						</div>
						<div class="btn-group">
							<a class="btn btn-success dropdown-toggle" data-toggle="dropdown"> メニュー <span class="fa fa-caret-down"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a th:href="@{/admin/staffs/edit/{staffId}(staffId=${staff.id})}">編集</a>
									<!--<a href="#">有休管理</a>-->
									<a th:href="@{/admin/staffs/password/edit/{id}(id=${staff.id})}">パスワード変更</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<tbody>
								<tr>
									<th th:text="#{staff.field.team}">チーム名</th>
									<td th:text="${staff.team.name}">CRチーム</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.name}">名前</th>
									<td th:text="${staff.getName()}">テスト太郎</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.name.kana}">ふりがな</th>
									<td th:text="${staff.getNameKana()}">てすとたろう</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.employment.type}">ふりがな</th>
									<td th:text="#{|staff.employmenttype.${staff.employmentType}|}">正社員</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.email}">メールアドレス</th>
									<td th:text="${staff.email}">worldrone@waja.jp</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.gender}">性別</th>
									<td th:text="#{|gender.${staff.gender}|}">男</td>
								</tr>
								<tr>
									<th th:text="#{staff.field.entereddate}">入社日</th>
									<td th:text="${#temporals.format(staff.enteredDate, 'yyyy/MM/dd')}">2015/06/01</td>
								</tr>
								<!--<tr>-->
									<!--<th>有休付与日</th>-->
									<!--<td>2015/12/01</td>-->
								<!--</tr>-->
								<!--<tr>-->
									<!--<th>残有休日数</th>-->
									<!--<td>10日</td>-->
								<!--</tr>-->
								<tr>
									<th th:text="#{staff.field.flextime}">フレックスタイム</th>
									<td><i th:if="${staff.flextime}" class="glyphicon glyphicon-ok"></i></td>
								</tr>
								<tr>
									<th th:text="#{staff.field.telework}">在宅</th>
									<td><i th:if="${staff.telework}" class="glyphicon glyphicon-ok"></i></td>
								</tr>
								<tr>
									<th th:text="#{staff.field.disabled}">アカウント無効</th>
									<td><i th:if="${staff.disabled}" class="glyphicon glyphicon-ok"></i></td>
								</tr>
								<tr>
									<th th:text="#{role.label}">権限</th>
									<td th:text="|#{|role.${staff.role}|}">スタッフ</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
