<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/common/describe-search.js}"></script>
		<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

		<title th:text="#{staff.history.title('')}">テスト太郎 変更履歴</title>
	</head>

	<body>
		<div th:replace="common/layout::navbar-layout"></div>
		<div class="section"></div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 th:text="#{staff.history.title(${staff.getName()})}">テスト太郎 変更履歴</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/}" th:text="#{dashboard.title}">ダッシュボード</a></li>
							<li><a th:href="@{/admin/staffs}" th:text="#{staff.list.title}">スタッフ一覧</a></li>
							<li><a th:href="@{/staff/describe/1}" th:text="${staff.getName()} + '詳細'">テスト太郎詳細</a></li>
							<li class="active" th:text="#{staff.history.title(${staff.getName()})}">変更履歴</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container" th:each="key : ${histories.keySet()}">
				<div class="row">
					<div class="col-md-12 text-left">
						<table class="table">
							<caption th:text="${#temporals.format(key, 'yyyy/MM/dd HH:mm:ss')} + ' ' + ${editors.get(key)}">2017/07/02 17:45 内立良介</caption>
							<tbody>
							<tr th:each="history : ${histories.get(key)}">
								<td th:text="#{|staff.field.${history.fieldName}|}">有休日数</td>
								<td th:text="${history.beforeValue}">0日</td>
								<td th:text="${history.afterValue}">10日</td>
							</tr>
							</tbody>
							<thead>
							<tr>
								<th class="col-md-3">変更箇所</th>
								<th class="col-md-3">変更前</th>
								<th class="col-md-3">変更後</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
