<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
		<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

		<title th:text="#{staff.list.title}">スタッフ一覧</title>
	</head>

	<body>
	<div th:replace="common/layout::navbar-layout"></div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 th:text="#{staff.list.title}">スタッフ一覧</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a th:href="@{/}" th:text="#{dashboard.title}">ダッシュボード</a></li>
						<li class="active" th:text="#{staff.list.title}">スタッフ一覧</li>
					</ul>
				</div>
			</div>
		</div>
		<div th:if="${savedStaff}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{registration.msg(${savedStaff.name})}">TESTを登録しました。</span>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${updateStaff}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{update.msg(${updateStaff.name})}">TESTを更新しました。</span>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${deletedName}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{delete.msg(${deletedName})}">TESTを削除しました。</span>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${passwordUpdatedStaff}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{password.update.msg(${passwordUpdatedStaff.name})}">TESTのパスワードを更新しました。</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div id="accordion-block" class="section" style="display: none;">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<form class="form-horizontal" method="post" th:action="@{/admin/staffs}" th:object="${form}">
							<div class="form-group">
								<div class="col-sm-2">
									<label class="control-label" th:text="#{staff.field.team}">チーム</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control" name="number" th:field="*{teamId}">
										<option value=""></option>
										<option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}">クリエイティブチーム</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label class="control-label">雇用形態</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control" th:field="*{employmentType}">
										<option value=""></option>
										<option th:each="employmentType : ${employmentTypes}" th:value="${employmentType}" th:text="#{|staff.employmenttype.${employmentType}|}">正社員</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label class="control-label">権限</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control" th:field="*{role}">
										<option value=""></option>
										<option th:each="role : ${roles}" th:value="${role}" th:text="#{|role.${role}|}">管理者</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<div class="checkbox">
										<label><input th:field="*{telework}" type="checkbox" />在宅勤務可</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<div class="checkbox">
										<label><input th:field="*{disabled}" type="checkbox" />無効アカウントのみ</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-default">検索</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div sec:authorize="hasAnyRole('ADMIN')" class="container">
			<div class="row">
				<!--<div class="col-md-3">-->
					<!--<form class="form-inline">-->
						<!--<div class="form-group text-right">-->
							<!--<input class="form-control" placeholder="キーワード" />-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<div class="col-sm-offset-2 col-sm-10">-->
								<!--<button class="btn btn-default">検索</button>-->
							<!--</div>-->
						<!--</div>-->
					<!--</form>-->
				<!--</div>-->
				<div class="col-md-2">
					<a id="accordion-btn"><i class="fa fa-2x fa-search-plus"></i> 詳細検索</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-right">
					<div class="btn-group">
						<a class="btn btn-success" th:href="@{/admin/staffs/create}" th:text="#{registration}">新規登録</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-right">
					<ul class="pagination">
						<li>
							<a th:href="@{/admin/staffs?page=0}" th:disabled="${pagination.getNumber() == 0}" th:style="${pagination.isFirst()} ? 'pointer-events : none;'"><i class="fa fa-angle-double-left fa-fw fa-lg"></i></a>
						</li>
						<li>
							<a th:href="@{/admin/staffs?page={page}(page=${pagination.getNumber() - 1})}" th:disabled="!${pagination.hasPrevious()}" th:style="!${pagination.hasPrevious()} ? 'pointer-events : none;'"><i class="fa fa-angle-left fa-fw fa-lg"></i></a>
						</li>
						<li class = 'active'>
							<a th:href="@{/admin/staffs?page={page}(page=${pagination.getNumber()})}" disabled="disabled" style="pointer-events : none;" th:text="${pagination.currentNumber}">2</a>
						</li>
						<li>
							<a th:href="@{/admin/staffs?page={page}(page=${pagination.getNumber() + 1})}" th:disabled="!${pagination.hasNext()}" th:style="!${pagination.hasNext()} ? 'pointer-events : none;'"><i class="fa fa-angle-right fa-fw fa-lg"></i></a>
						</li>
						<li>
							<a th:href="@{/admin/staffs?page={page}(page=${pagination.getLastNumber()})}" th:disabled="${pagination.isLast()}" th:style="${pagination.isLast()} ? 'pointer-events : none;'"><i class="fa fa-angle-double-right fa-fw fa-lg"></i></a>
						</li>
					</ul>
					<p class="lead" th:text="${pagination.currentNumber} + ' / ' + ${pagination.getTotalPages()}"></p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<table class="table" id="staff-delete">
						<thead>
						<tr>
							<th th:text="#{staff.field.team}">チーム名</th>
							<th th:text="#{staff.field.name}">名前</th>
							<th th:text="#{staff.field.employment.type}">雇用形態</th>
							<th>有休付与日</th>
							<th>残有休日数</th>
							<th class="text-center">フレックス</th>
							<th class="text-center" th:text="#{staff.field.telework}">在宅</th>
							<th class="text-center">無効</th>
							<th th:text="#{role.label}">権限</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="staff : ${staffs}">
							<td th:text="${staff.team.shortName}">クリエイティブチーム</td>
							<td><a th:href="@{/admin/staffs/describe/{id}(id=${staff.id})}" th:text="${staff.getName()}">テスト太郎</a></td>
							<td th:text="#{|staff.employmenttype.${staff.employmentType}|}">正社員</td>
							<td>06/01</td>
							<td>10日</td>
							<td class="text-center"><i th:class="${staff.flextime} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-minus'"></i></td>
							<td class="text-center"><i th:class="${staff.telework} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-minus'"></i></td>
							<td class="text-center"><i th:class="${staff.disabled} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-minus'"></i></td>
							<td th:text="|#{|role.${staff.role}|}">スタッフ</td>
							<td><a class="btn btn-link glyphicon glyphicon-time" data-toggle="tooltip" data-container="body" title="今月の稼働実績" data-placement="top" th:href="@{/admin/work-time/{id}(id=${staff.id})}"></a></td>
							<td><a class="btn btn-link glyphicon glyphicon-pencil" data-toggle="tooltip" data-container="body" title="編集" data-placement="top" th:href="@{/admin/staffs/edit/{id}(id=${staff.id})}"></a></td>
							<td>
								<form method="post" th:action="@{/admin/staffs/delete/{id}(id=${staff.id})}">
									<input type="hidden" name="_method" value="delete"/>
									<button class="btn btn-link glyphicon glyphicon-trash" data-toggle="tooltip" data-container="body" title="削除" data-placement="top" ></button>
								</form>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
	</body>

</html>
