<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/common/describe-search.js}"></script>
		<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

		<title th:text="#{staff.list.title}">スタッフ一覧</title>
	</head>

	<body>
	<div th:replace="common/layout::navbar-layout"></div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 th:text="#{staff.list.title}">スタッフ一覧</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a th:href="@{/}" th:text="#{dashboard.title}">ダッシュボード</a></li>
						<li class="active" th:text="#{staff.list.title}">スタッフ一覧</li>
					</ul>
				</div>
			</div>
		</div>
		<div th:if="${savedStaff}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{registration.msg(${savedStaff.name})}">TESTを登録しました。</span>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${updateStaff}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{update.msg(${updateStaff.name})}">TESTを更新しました。</span>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${deletedName}" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<span th:text="#{delete.msg(${deletedName})}">TESTを削除しました。</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div id="describe-search" class="section" style="display: none;">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-2">
									<label class="control-label" th:text="#{staff.field.team}">チーム</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control">
										<option value="" selected="selected"></option>
										<option value="creative">CRチーム</option>
										<option value="mp">MPチーム</option>
										<option value="sp">SPチーム</option>
										<option value="事推">事推</option>
										<option value="ff">FFチーム</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label class="control-label">雇用形態</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control">
										<option value="" selected="selected"></option>
										<option value="てすと１">正社員</option>
										<option value="てすと２">クルー週２</option>
										<option value="てすと２">クルー週３</option>
										<option value="てすと２">クルー週４</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label class="control-label">入社月</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control">
										<option value="" selected="selected"></option>
										<option value="1">1月</option>
										<option value="2">2月</option>
										<option value="3">3月</option>
										<option value="4">4月</option>
										<option value="5">5月</option>
										<option value="6">6月</option>
										<option value="7">7月</option>
										<option value="8">8月</option>
										<option value="9">9月</option>
										<option value="10">10月</option>
										<option value="11">11月</option>
										<option value="12">12月</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<div class="checkbox">
										<label>
											<input type="checkbox" />在宅勤務可
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-default">検索</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<form class="form-inline">
						<div class="form-group text-right">
							<input class="form-control" placeholder="キーワード" />
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button class="btn btn-default">検索</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2">
					<a id="describe-search-btn"><i class="fa fa-2x fa-search-plus"></i> 詳細検索</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-right">
					<div class="btn-group">
						<a class="btn btn-success" th:href="@{/admin/staffs/create}" th:text="#{registration}">登録</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-right">
					<ul class="pagination">
						<li>
							<a href="#">Prev</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">Next</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
						<tr>
							<th th:text="#{staff.field.team}">チーム名</th>
							<th th:text="#{staff.field.name}">名前</th>
							<th th:text="#{staff.field.name.kana}">ふりがな</th>
							<th th:text="#{staff.field.employment.type}">雇用形態</th>
							<th th:text="#{staff.field.entered.date}">入社日</th>
							<th>有給付与日</th>
							<th>残有給日数</th>
							<th th:text="#{staff.field.telework}">在宅</th>
							<th></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="staff : ${staffs}">
							<td th:text="${staff.team.name}">クリエイティブチーム</td>
							<td><a th:href="@{/admin/staffs/describe/{id}(id=${staff.id})}" th:text="${staff.nameLast} + ${staff.nameFirst}">テスト太郎</a></td>
							<td th:text="${staff.nameLastKana} + ${staff.nameFirstKana}">てすとたろう</td>
							<td th:text="#{|staff.employmenttype.${staff.employmentType}|}">正社員</td>
							<td th:text="${staff.enteredDate}">2015/06/01</td>
							<td>06/01</td>
							<td>10日</td>
							<td><i th:if="${staff.telework}" class="glyphicon glyphicon-ok"></i></td>
							<td><a th:href="@{/admin/work-time/list}">稼働実績</a></td>
							<td><a th:href="@{/admin/staffs/edit/{id}(id=${staff.id})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</body>

</html>
