<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

	<title>稼働実績入力</title>
</head>
<body>
<div th:replace="common/layout::navbar-layout"></div>
<div class="section"></div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>稼働実績入力</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a th:href="@{/}">ダッシュボード</a></li>
					<li><a th:href="@{/work-time/list}">稼働実績照会</a></li>
					<li class="active">稼働実績入力</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" role="form" th:action="@{/work-time/edit}" method="post" th:object="${workTimeEditForm}">
					<table class="table form-group">
						<thead>
						<tr>
							<th class="col-md-1">日付</th>
							<th class="col-md-3">種別</th>
							<th>始業時間</th>
							<th>就業時間</th>
							<th>休憩時間</th>
							<th>稼働時間</th>
							<th>備考</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>6/1（木）</td>
							<td>
								<select class="form-control">
									<option>出勤</option>
									<option>公休</option>
									<option>有給/半休</option>
									<option>事後有給/事後半休</option>
									<option>欠勤/半欠勤</option>
									<option>代休</option>
									<option>特別休暇</option>
								</select>
							</td>
							<td>
								<select class="form-control">
									<option th:each="time : ${timePerOne}" th:text="|${time}時|">9時</option>
								</select>
							</td>
							<td>
								<select class="form-control">
									<option th:each="time : ${timePerOne}" th:text="|${time}時|">9時</option>
								</select>
							</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/2（金）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/3（土）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/4（日）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/5（月）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/6（火）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/7（水）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/8（木）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/9（金）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/10（土）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/11（日）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/12（月）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/13（火）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/14（水）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/15（木）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/16（金）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/17（土）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/18（日）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/19（月）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/20（火）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/21（水）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/22（木）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/23（金）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/24（土）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/25（日）</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>6/26（月）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/27（火）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/28（水）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/29（木）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						<tr>
							<td>6/30（金）</td>
							<td></td>
							<td>9:00</td>
							<td>18:00</td>
							<td>1:00</td>
							<td>8:00</td>
							<td></td>
						</tr>
						</tbody>
					</table>
					<div class="form-group">
						<a th:href="@{/orders/payment-waiting/describe/655000}" type="button" class="btn btn-default col-md-offset-5">戻る</a>
						<button type="submit" class="btn btn-success">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
