<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

	<title th:text="#{worktime.edit.title(${#temporals.format(displayDate, 'yyyy年MM月')})}">2017年07月稼働実績入力</title>
</head>
<body>
<div th:replace="common/layout::navbar-layout"></div>
<div class="section"></div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="#{worktime.edit.title(${#temporals.format(displayDate, 'yyyy年MM月')})}">2017年07月稼働実績入力</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a th:href="@{/}">ダッシュボード</a></li>
					<li><a th:href="@{/work-time/list}">稼働実績照会</a></li>
					<li th:text="#{worktime.edit.title(${#temporals.format(displayDate, 'yyyy年MM月')})}">2017年07月稼働実績入力</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" role="form" th:action="@{/work-time/edit}" method="post" th:object="${forms}">
					<table class="table table-bordered form-group">
						<thead>
						<tr>
							<th class="col-md-1">日付</th>
							<th class="col-md-2">種別</th>
							<th>始業時間</th>
							<th>就業時間</th>
							<th class="col-md-1">休憩時間</th>
							<th>稼働時間</th>
							<th>備考</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="form : ${forms}">
							<td th:text="${#temporals.format(workTimes[form.id].date, 'MM/dd(E)')}">6/1（木）</td>
							<td>
								<select class="form-control">
									<option></option>
									<option th:text="#{|worktime.worktype.${form.workType}|}" th:value="${form.workType}" th:selected="${form.workType}">出勤</option>
								</select>
							</td>
							<td>
								<div class="form-inline">
									<select class="form-control">
										<option></option>
										<option th:each="hour : ${workTimeHour}" th:text="|${hour}時|" th:value="${hour}" th:selected="${hour eq form.startAtHour}">9時</option>
									</select>
									<select class="form-control">
										<option></option>
										<option th:each="minute : ${workTimeMinute}" th:text="|${minute}分|" th:value="${minute}" th:selected="${minute eq form.startAtMinute}">15分</option>
									</select>
								</div>
							</td>
							<td>
								<div class="form-inline">
									<select class="form-control">
										<option></option>
										<option th:each="hour : ${workTimeHour}" th:text="|${hour}時|" th:value="${hour}" th:selected="${hour eq form.endAtHour}">9時</option>
									</select>
									<select class="form-control">
										<option></option>
										<option th:each="minute : ${workTimeMinute}" th:text="|${minute}分|" th:value="${minute}" th:selected="${minute eq form.startAtMinute}">15分</option>
									</select>
								</div>
							</td>
							<td>
								<select class="form-control">
									<option value=""></option>
									<option th:each="restTime : ${restTimes}" th:text="${restTime}" th:selected="${restTime eq form.restTime}"></option>
								</select>
							</td>
							<td>8:00</td>
							<td><input type="text" class="form-control" id="" placeholder="備考" /></td>
						</tr>
						</tbody>
					</table>
					<div class="form-group">
						<a th:href="@{/work-time/list}" type="button" class="btn btn-default col-md-offset-5">戻る</a>
						<button type="submit" class="btn btn-success">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
