<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script th:src="@{/webjars/vue/2.4.2/dist/vue.min.js}"></script>
		<script th:src="@{/webjars/axios/0.16.1/dist/axios.min.js}"></script>
		<script th:src="@{/webjars/momentjs/2.18.1/min/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

		<title th:text="#{worktime.list.title(${#temporals.format(displayDate, 'yyyy年MM月')})}">2017年07月稼働実績</title>
	</head>
	<body>
		<div th:replace="common/layout::navbar-layout"></div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 th:text="#{worktime.list.title(${#temporals.format(displayDate, 'yyyy年MM月')})}">2017年07月稼働実績</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/}" th:text="#{dashboard.title}">ダッシュボード</a></li>
							<li class="active" th:text="#{worktime.list.title(${#temporals.format(displayDate, 'yyyy年MM月')})}">2017年07月稼働実績</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- TODO:更新メッセージ -->
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-right">
						<div class="btn-group">
							<a class="btn btn-default" href="#bulk-input" data-toggle="modal">一括入力</a>
						</div>
						<div class="btn-group">
							<a class="btn btn-success dropdown-toggle" data-toggle="dropdown"> メニュー <span class="fa fa-caret-down"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a th:href="@{/work-time/edit/{displayDate}(displayDate=${displayDate})}">稼働実績入力</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="pager">
							<li>
								<a th:href="@{/work-time?displayDate={displayDate}(displayDate=${displayDate.minusMonths(1)})}" th:text="'←  ' + ${#temporals.format(displayDate.minusMonths(1), 'yyyy年MM月')}">←  2017年6月</a>
							</li>
							<li>
								<a th:href="@{/work-time?displayDate={displayDate}(displayDate=${displayDate.plusMonths(1)})}" th:text="${#temporals.format(displayDate.plusMonths(1), 'yyyy年MM月')} + '  →'">2017年8月  →</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered">
							<caption th:text="#{worktime.manager.table.caption}">マネージャー記入欄</caption>
							<thead>
							<tr>
								<th>内容</th>
								<th>日数</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th>出勤日数</th>
								<td>22日</td>
							</tr>
							<tr>
								<th>有給取得回数</th>
								<td>0日</td>
							</tr>
							<tr>
								<th>事後休・半有休取得回数</th>
								<td>0日</td>
							</tr>
							<tr>
								<th>遅延遅刻回数</th>
								<td>0日</td>
							</tr>
							<tr>
								<th>欠勤回数</th>
								<td>0日</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<caption>勤怠表</caption>
							<thead>
							<tr>
								<th class="col-md-1">日付</th>
								<th>種別</th>
								<th>始業時間</th>
								<th>就業時間</th>
								<th>休憩時間</th>
								<th>稼働時間</th>
								<th>備考</th>
							</tr>
							</thead>
							<tfoot>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td th:text="${workTimeSum}">180.00</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>規定労働時間</td>
								<td>160:00</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>残業時間</td>
								<td>20:00</td>
								<td></td>
							</tr>
							</tfoot>
							<tbody>
							<tr th:each="workTime : ${workTimes}" th:with="dayTotal=${#workTimes.workTime(workTime.startAt, workTime.endAt, workTime.restTime)}">
								<td th:text="${#temporals.format(workTime.date, 'MM/dd(E)')}">6/1（木）</td>
								<td th:text="#{|worktime.worktype.${workTime.workType}|}">出勤</td>
								<td th:text="${workTime.startAt}">9:00</td>
								<td th:text="${workTime.endAt}">18:00</td>
								<td th:text="${workTime.restTime}">1:00</td>
								<td th:text="${dayTotal}">8:00</td>
								<td></td>
							</tr>
							<!--<tr class="bg-danger">-->
								<!--<td>6/2（金）</td>-->
								<!--<td>出勤</td>-->
								<!--<td>9:00</td>-->
								<!--<td>19:00</td>-->
								<!--<td>1:00</td>-->
								<!--<td>9:00</td>-->
								<!--<td></td>-->
							<!--</tr>-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="bulk-input" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content" id="modal-save">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">一括入力</h4>
					</div>
					<div class="modal-body col-md-12 form-inline">
						<div class="row">
							<div class="col-md-4">
								<label>種別</label>
								<select class="form-control">
									<option th:text="#{worktime.worktype.NORMAL}">出勤</option>
								</select>
							</div>
							<div class="col-md-4">
								<label>始</label>
								<select class="form-control" v-model="startAtHour">
									<option></option>
									<option th:each="hour : ${workTimeHour}" th:text="|${hour}時|" th:value="${hour}">9時</option>
								</select>
								<select class="form-control" v-model="startAtMinute">
									<option></option>
									<option th:each="minute : ${workTimeMinute}" th:text="|${minute}分|" th:value="${minute}">15分</option>
								</select>
							</div>
							<div class="col-md-4">
								<label>終</label>
								<select class="form-control" v-model="endAtHour">
									<option></option>
									<option th:each="hour : ${workTimeHour}" th:text="|${hour}時|" th:value="${hour}">9時</option>
								</select>
								<select class="form-control" v-model="endAtMinute">
									<option></option>
									<option th:each="minute : ${workTimeMinute}" th:text="|${minute}分|" th:value="${minute}">15分</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">キャンセル</a>
						<button @click="save" class="btn btn-primary">保存</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el:'#modal-save',
				data: {
					message:[],
					startAtHour:'',
					startAtMinute:'',
					endAtHour:'',
					endAtMinute:'',
				},
				methods: {
					save() {
						const displayDate = '[[${displayDate}]]';

						axios.post('/work-time/bulk-edit/' + displayDate, {
							workType: 'NORMAL',
							startAtHour: this.startAtHour,
							startAtMinute: this.startAtMinute,
							endAtHour: this.endAtHour,
							endAtMinute: this.endAtMinute
						})
							.then(response => {
								this.message = response.data;
								// TODO:Vue.jsでバインドする
								location.reload();
							}).catch(error => {
								console.log(error);
							})
					}
				}
			});
		</script>
	</body>
</html>
