<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" th:href="@{/img/common/favicon.ico}" />
		<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />

		<title>ダッシュホード</title>
	</head>
	<body>
		<div th:replace="common/layout::navbar-layout"></div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 th:with="today=${#temporals.createNow()}" th:text="'今日は ' + ${#temporals.format(today, 'yyyy/MM/dd(E)')}"></h1>
					</div>
				</div>
			</div>
		</div>
		<!--/*/<th:block sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">/*/-->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div th:if="${#lists.size(nonApprovedWorkTimeYearMonths)} > 0" class="alert alert-danger" role="alert">
							<span th:text="${#lists.size(nonApprovedWorkTimeYearMonths)} + '件未承認があります。'">2件未承認があります。</span>
						</div>
						<div th:unless="${#lists.size(nonApprovedWorkTimeYearMonths)} > 0" class="alert alert-success">
							<span>未承認はありません。</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${#lists.size(nonApprovedWorkTimeYearMonths)} > 0" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
							<tr>
								<th>年月</th>
								<th>スタッフ名</th>
								<th>入力完了日時</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="workTimeYearMonth : ${nonApprovedWorkTimeYearMonths}">
								<td th:with="yearMonth=${#workTimes.intToYearMonth(workTimeYearMonth.workYearMonth)}"><a th:href="@{/admin/work-time/{id}(id=${workTimeYearMonth.staff.id})}" target="_blank" th:text="${#temporals.format(yearMonth, 'yyyy年MM月')}">2017年10月</a></td>
								<td th:text="${workTimeYearMonth.staff.getName()}">山田太郎</td>
								<td th:text="${#temporals.format(workTimeYearMonth.completedAt, 'yyyy/MM/dd HH:mm')}">2017/10/01 10:20</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--/*/</th:block>/*/-->
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	</body>
</html>
